{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <style>
        body {
            color: #009688;
        }
        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <i class="layui-icon layui-icon-404", style="font-size: 200px"></i>
        <h2><p>404 页面不存在或无权限访问</p></h2>
    </div>
</body>
</html>
